---
import AppNav from "../components/app-nav.astro";
import Layout from "./layout.astro";

export interface Props {
  title: string;
  paintletUrl: string;
  knobConfig?: Record<string, unknown>;
}

const { title, paintletUrl, knobConfig } = Astro.props;
const config = JSON.stringify(knobConfig || {});
---

<Layout title={title}>
  <div class="page">
    <div class="app__nav">
      <AppNav />
    </div>
    <nav class="page__nav">
      <ul class="page__nav__items">
        <slot />
      </ul>
    </nav>

    <slot name="demo" />
  </div>

  <script type="module" define:vars={{ paintletUrl }}>
    CSS.paintWorklet.addModule(paintletUrl);
  </script>
  <script type="application/json" set:html={config} />
  <script src="../lib/demo.ts" />
</Layout>

<style>
  .page {
    --nav-w: 200px;

    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: var(--nav-w) 1fr;
    grid-template-areas:
      "a a"
      "b c";

    height: 100vh;
    background-color: #111;
  }

  .app__nav {
    grid-area: a;
  }

  .page__nav {
    grid-area: b;

    display: grid;
    place-content: center;

    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    background-color: #000;

    &:has(li:nth-child(5)) {
      place-content: start;
    }
  }

  .page__nav__items {
    display: grid;
    gap: 1rem;

    width: var(--nav-w);
    margin: 0;
    padding: 1rem;
    list-style: none;
  }

  .page__demo {
    grid-area: c;

    & > * {
      width: 100%;
      height: 100%;
    }
  }
</style>
