---
import Layout from "./layout.astro";

export interface Props {
  title: string;
  paintletUrl: string;
}

const { title, paintletUrl } = Astro.props;
---

<Layout title={title}>
  <div class="samples">
    <ul class="sample__nav">
      <slot />
    </ul>
    <div class="sample__demo"></div>
  </div>

  <script type="module" define:vars={{ paintletUrl }}>
    CSS.paintWorklet.addModule(paintletUrl);
  </script>
</Layout>
