---
import paintletUrl from "paintlets/src/contour/?url";

import Demo from "../../layouts/demo.astro";
---

<Demo title="Contour" paintletUrl={paintletUrl}>
  <li id="demo-1" class="sample" data-demo="1"><a href="#demo-1">Demo 1</a></li>
  <li id="demo-2" class="sample" data-demo="2"><a href="#demo-2">Demo 2</a></li>
  <li id="demo-3" class="sample" data-demo="3"><a href="#demo-3">Demo 3</a></li>
  <li id="demo-3" class="sample" data-demo="4"><a href="#demo-4">Demo 4</a></li>

  <div slot="demo" class="sample__demo" data-demo="1"></div>
</Demo>

<style>
  :root {
    --grid-unit: 128;
    --line-width: 1;
    --line-frequency: 12;
    --line-colour: #fff2;

    --bg: #000;
    --bg-image: paint(contour);
  }

  [data-demo="1"] {
    --bg-image: paint(contour), linear-gradient(to top, cornflowerblue, hotpink);
  }

  [data-demo="2"] {
    --line-colour: #0001;
    --bg-image: paint(contour), linear-gradient(to right, gold, mediumseagreen);
  }

  [data-demo="3"] {
    --line-width: 1;
    --line-colour: #ffd70088;
    --bg-image: paint(contour), linear-gradient(to top left, red, orange);
  }

  [data-demo="4"] {
    --bg: #222;
  }

  .sample__demo {
    --line-frequency: 24;
  }
</style>
