---
import paintletUrl from "paintlets/src/truchet/?url";

import Demo from "../../layouts/demo.astro";
---

<Demo title="Truchet" paintletUrl={paintletUrl}>
  <li class="sample sample--1"><a href="#sample-1">Sample 1</a></li>
  <li class="sample sample--2"><a href="#sample-2">Sample 2</a></li>
  <li class="sample sample--3"><a href="#sample-3">Sample 3</a></li>
</Demo>

<style>
  .sample--1 {
    --stroke-width: 1;
    --stroke-colour: gold;
    --bg-image: paint(truchet), linear-gradient(to bottom, #eecda3, #ef629f);
  }

  .sample--2 {
    --tile-size: 20;
    --stroke-width: 1;
    --stroke-colour: #fff5;
    --bg-image: paint(truchet), linear-gradient(to top, #373b44, #4286f4);
  }

  .sample--3 {
    --tile-size: 30;
    --stroke-width: 0.5;
    --stroke-colour: #ec38bc88;
    --bg-image: paint(truchet),
      linear-gradient(to top, #ec38bc, #7303c0, #03001e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
</style>
