<nav class="index">
  <a href="/demos/contour"><span>Contour</span></a>
  <a href="/demos/seigaiha"><span>Seigaiha</span></a>
  <a href="/demos/truchet"><span>Truchet</span></a>
  <a href="/demos/hexo"><span>Hexo</span></a>
</nav>
